.grid {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.grid:before {
    background: radial-gradient(circle,rgba(2,0,36,0) 0,var(--gray1) 100%);
    z-index: 0;
}

.grid:after, .grid:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
}

.grid:after {
    background-image: url('https://images.ctfassets.net/mzyich089xy0/6fwdOvaqRYLNhiqN1txP77/43989c025dad364c95540d27b922741c/Grid.svg');
    z-index: -1;
    opacity: 0.1;
    filter: invert(1);
}

@media(prefers-color-scheme: dark) {
    .grid:after {
        filter: unset;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:before {
    background: radial-gradient(circle,rgba(2,0,36,0) 0,var(--gray1) 100%);
    z-index: 0;
}

.card:after, .card:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
}

.card:after {
    background-image: url('https://images.ctfassets.net/mzyich089xy0/6fwdOvaqRYLNhiqN1txP77/43989c025dad364c95540d27b922741c/Grid.svg');
    z-index: 0;
    opacity: 0.75;
    filter: invert(1);
}

@media(prefers-color-scheme: dark) {
    .card:after {
        filter: unset;
    }
}

.gradient:before {
    content: "";
    position: absolute;
    top: 0;
    background-image: radial-gradient(at 27% 37%,#3a8bfd 0,transparent 50%),radial-gradient(at 97% 21%,#9772fe 0,transparent 50%),radial-gradient(at 52% 99%,#fd3a4e 0,transparent 50%),radial-gradient(at 10% 29%,#5afc7d 0,transparent 50%),radial-gradient(at 97% 96%,#e4c795 0,transparent 50%),radial-gradient(at 33% 50%,#8ca8e8 0,transparent 50%),radial-gradient(at 79% 53%,#eea5ba 0,transparent 50%);
    width: 100vw;
    height: 100%;
    filter: blur(100px) saturate(150%);
    opacity: .1;
    z-index: -1;
}


